In [ ]:
import numpy as np
import pandas as pd

### Creating DataFrame

In [ ]:
# using lists
price_data = [[100,200,400,600],
              [100,200,400,600],
              [100,200,400,600],
              [100,200,400,600]]

list_df = pd.DataFrame(price_data)
type(list_df)

In [ ]:
# using dicts


price_data = {"Name":["Apple","Microsoft","Tesla","Meta"],
              "Open":[100,200,400,600],
              "High":[100,200,400,600],
              "Low":[100,200,400,600],
              "Close":[100,200,400,600]}
dict_df = pd.DataFrame(price_data)
dict_df.set_index("Name",inplace=True)

In [ ]:
dict_df

In [ ]:
# using read_csv
algo_df = pd.read_csv("algotrading_combined_dataset.csv")
algo_df

In [ ]:
funda_df = pd.read_csv("fundamental_research_dataset_large.csv")
funda_df

### DataFrame Attributes and Methods

In [ ]:
# shape
algo_df.shape
funda_df.shape

In [ ]:
# dtypes

algo_df.dtypes
funda_df.dtypes

In [ ]:
# index
algo_df.index
funda_df.index

In [ ]:
# columns
algo_df.columns
funda_df.columns

In [ ]:
# values
algo_df.values
funda_df.values

In [ ]:
# head and tail
algo_df.tail(20)

In [ ]:
# sample
algo_df.sample(10)

In [ ]:
# info
algo_df.info()
funda_df.info()

In [ ]:
# describe
algo_df.describe()

In [ ]:
# isnull
algo_df.isnull().sum()
funda_df.isnull().sum()

In [ ]:
# duplicated
algo_df.duplicated().sum()
funda_df.duplicated().sum()

In [ ]:
# rename
algo_df.rename(columns={'High':'Max','Low':'Min'},inplace=True)

### Math Methods

In [ ]:
# sum -> axis argument
algo_df.sum()

In [ ]:
funda_df.sum()

In [ ]:
algo_df["High"].mean()

In [ ]:
funda_df["Market Cap (B)"].var()

### Selecting cols from a DataFrame

In [ ]:
# single cols
algo_df["High"]

In [ ]:
# multiple cols
funda_df[["Ticker","Sector","Market Cap (B)"]]

### Selecting rows from a DataFrame

- **iloc** - searches using index positions
- **loc** - searches using index labels

In [ ]:
# single row

algo_df

In [ ]:
# Single row
algo_df.iloc[0]

In [ ]:
# Multiple
algo_df.iloc[0:10:2]

In [ ]:
# fancy indexing
algo_df.iloc[[1,4,7,9,10,13,1300]]

In [407]:
# loc

funda_df.loc[["AAPL","GOOGL","MSFT"]]

,Company Name,Sector,Industry,Market Cap (B),EPS,P/E Ratio,Dividend Yield (%),P/B Ratio,D/E Ratio
Ticker,,,,,,,,,
AAPL,Apple Inc.,Finance,Banks,173.47,9.40,40.14,2.83,11.32,1.21
AAPL,Apple Inc.,Consumer Goods,Food Products,225.94,NaN,30.86,6.19,18.69,0.49
AAPL,Apple Inc.,Finance,Investment Services,308.99,7.63,10.92,7.97,2.47,1.22
AAPL,Apple Inc.,Utilities,Water Utilities,273.18,-8.76,44.64,1.42,13.51,1.17
AAPL,Apple Inc.,Healthcare,Pharmaceuticals,171.88,NaN,7.38,3.65,1.04,0.31
...,...,...,...,...,...,...,...,...,...
MSFT,Microsoft Corporation,Energy,Renewable Energy,170.29,-4.32,38.12,8.37,14.35,1.92
MSFT,Microsoft Corporation,Consumer Goods,Beverages,53.79,NaN,NaN,9.54,NaN,2.03
MSFT,Microsoft Corporation,Healthcare,Biotechnology,277.95,0.22,21.39,4.47,2.34,2.50
MSFT,Microsoft Corporation,Finance,Banks,202.65,9.33,25.10,9.28,6.05,1.20
MSFT,Microsoft Corporation,Industrial Goods,Manufacturing,150.53,-3.04,13.44,0.12,3.56,2.42

In [409]:
funda_df.iloc[0:10:2]

,Company Name,Sector,Industry,Market Cap (B),EPS,P/E Ratio,Dividend Yield (%),P/B Ratio,D/E Ratio
Ticker,,,,,,,,,
AAPL,Apple Inc.,Finance,Banks,173.47,9.40,40.14,2.83,11.32,1.21
MSFT,Microsoft Corporation,Utilities,Gas Utilities,38.24,8.60,22.84,9.22,1.61,2.15
TSLA,"Tesla, Inc.",Finance,Banks,147.96,-9.68,40.41,3.11,NaN,0.12
BRK.B,Berkshire Hathaway Inc.,Energy,Oil & Gas,484.27,8.97,13.70,9.01,2.92,NaN
JPM,JPMorgan Chase & Co.,Healthcare,Biotechnology,157.02,4.02,46.94,4.59,4.96,2.75

### Selecting both rows and cols

In [415]:
funda_df.iloc[0:5,0:4]

                 Company Name          Sector       Industry  Market Cap (B)
Ticker
AAPL               Apple Inc.         Finance          Banks          173.47
GOOGL           Alphabet Inc.         Finance          Banks          427.97
MSFT    Microsoft Corporation       Utilities  Gas Utilities           38.24
AMZN         Amazon.com, Inc.  Consumer Goods      Beverages             NaN
TSLA              Tesla, Inc.         Finance          Banks          147.96

In [426]:
funda_df.loc["AAPL","Company Name":"Market Cap (B)"]

       Company Name            Sector             Industry  Market Cap (B)
Ticker
AAPL     Apple Inc.           Finance                Banks          173.47
AAPL     Apple Inc.    Consumer Goods        Food Products          225.94
AAPL     Apple Inc.           Finance  Investment Services          308.99
AAPL     Apple Inc.         Utilities      Water Utilities          273.18
AAPL     Apple Inc.        Healthcare      Pharmaceuticals          171.88
...             ...               ...                  ...             ...
AAPL     Apple Inc.    Consumer Goods            Beverages             NaN
AAPL     Apple Inc.  Industrial Goods            Aerospace           80.87
AAPL     Apple Inc.  Industrial Goods            Aerospace             NaN
AAPL     Apple Inc.         Utilities   Electric Utilities          319.65
AAPL     Apple Inc.        Healthcare      Medical Devices          147.73

[99 rows x 4 columns]

In [440]:
algo_df.loc[0:5,"Date":"Close"]

         Date Ticker        Open        High         Low       Close
0  2015-01-01   AAPL  101.031849  101.329723   98.852354  101.197410
1  2015-01-02   AAPL  100.866496  100.866496   99.568981  101.220064
2  2015-01-05   AAPL  101.164489  101.176821  100.920124  101.339872
3  2015-01-06   AAPL         NaN  103.203859  102.287356  101.777905
4  2015-01-07   AAPL  102.744728  104.050309  102.211701  102.090310
5  2015-01-08   AAPL  101.311978  102.094773  100.520561  102.675189

### Filtering a DataFrame

### Adding new cols

In [441]:
# completely new
algo_df

,Date,Ticker,Open,High,Low,Close,Volume
0,2015-01-01,AAPL,101.031849,101.329723,98.852354,101.197410,344567.0
1,2015-01-02,AAPL,100.866496,100.866496,99.568981,101.220064,310521.0
2,2015-01-05,AAPL,101.164489,101.176821,100.920124,101.339872,NaN
3,2015-01-06,AAPL,NaN,103.203859,102.287356,101.777905,295025.0
4,2015-01-07,AAPL,102.744728,104.050309,102.211701,102.090310,439080.0
...,...,...,...,...,...,...,...
32865,2021-08-02,AMZN,184.443237,185.375089,183.176491,183.087397,581356.0
32866,2017-01-24,AAPL,92.780364,93.092012,91.238510,NaN,754158.0
32867,2018-03-09,AMZN,98.074613,99.154029,96.203177,97.487616,76911.0
32868,2018-05-02,LTC/USD,103.443224,105.575739,103.159286,NaN,552764.0
32869,2020-09-18,ETH/USD,164.755329,166.936724,164.755329,164.722026,816832.0

In [442]:
algo_df["New Col"] = "Kuldeep Singh"

In [443]:
algo_df

,Date,Ticker,Open,High,Low,Close,Volume,New Col
0,2015-01-01,AAPL,101.031849,101.329723,98.852354,101.197410,344567.0,Kuldeep Singh
1,2015-01-02,AAPL,100.866496,100.866496,99.568981,101.220064,310521.0,Kuldeep Singh
2,2015-01-05,AAPL,101.164489,101.176821,100.920124,101.339872,NaN,Kuldeep Singh
3,2015-01-06,AAPL,NaN,103.203859,102.287356,101.777905,295025.0,Kuldeep Singh
4,2015-01-07,AAPL,102.744728,104.050309,102.211701,102.090310,439080.0,Kuldeep Singh
...,...,...,...,...,...,...,...,...
32865,2021-08-02,AMZN,184.443237,185.375089,183.176491,183.087397,581356.0,Kuldeep Singh
32866,2017-01-24,AAPL,92.780364,93.092012,91.238510,NaN,754158.0,Kuldeep Singh
32867,2018-03-09,AMZN,98.074613,99.154029,96.203177,97.487616,76911.0,Kuldeep Singh
32868,2018-05-02,LTC/USD,103.443224,105.575739,103.159286,NaN,552764.0,Kuldeep Singh
32869,2020-09-18,ETH/USD,164.755329,166.936724,164.755329,164.722026,816832.0,Kuldeep Singh

In [445]:
# from existing ones


algo_df["New Close"] = algo_df["Close"] * 100

In [446]:
algo_df

,Date,Ticker,Open,High,Low,Close,Volume,New Col,New Close
0,2015-01-01,AAPL,101.031849,101.329723,98.852354,101.197410,344567.0,Kuldeep Singh,10119.741016
1,2015-01-02,AAPL,100.866496,100.866496,99.568981,101.220064,310521.0,Kuldeep Singh,10122.006445
2,2015-01-05,AAPL,101.164489,101.176821,100.920124,101.339872,NaN,Kuldeep Singh,10133.987171
3,2015-01-06,AAPL,NaN,103.203859,102.287356,101.777905,295025.0,Kuldeep Singh,10177.790504
4,2015-01-07,AAPL,102.744728,104.050309,102.211701,102.090310,439080.0,Kuldeep Singh,10209.031003
...,...,...,...,...,...,...,...,...,...
32865,2021-08-02,AMZN,184.443237,185.375089,183.176491,183.087397,581356.0,Kuldeep Singh,18308.739709
32866,2017-01-24,AAPL,92.780364,93.092012,91.238510,NaN,754158.0,Kuldeep Singh,NaN
32867,2018-03-09,AMZN,98.074613,99.154029,96.203177,97.487616,76911.0,Kuldeep Singh,9748.761555
32868,2018-05-02,LTC/USD,103.443224,105.575739,103.159286,NaN,552764.0,Kuldeep Singh,NaN
32869,2020-09-18,ETH/USD,164.755329,166.936724,164.755329,164.722026,816832.0,Kuldeep Singh,16472.202588

### Important DataFrame Functions

In [ ]:
# astype

In [ ]:
# value_counts

1. **Identify all the top-performing stocks based on their overall return from the start to the end of the dataset.**
   - **Hint:** Calculate the return as (final close price - initial close price) / initial close price.

2. **How many instances of daily price change greater than 5% (super over finishes) occurred for each stock?**
   - **Hint:** Use the `pct_change()` method on the 'Close' price to calculate daily percentage changes.

3. **Calculate the number of times each stock's price increased on a specific date range (e.g., within the first quarter of each year).**
   - **Hint:** Filter the dataset by date and then compare 'Close' and 'Open' prices.

4. **Calculate the percentage of times the opening price being higher than the previous day's closing price (toss winner) resulted in a higher closing price on that day (match winner).**
   - **Hint:** Use the `shift()` method to compare the opening price with the previous day's closing price.

5. **Identify all assets with a daily percentage change higher than 8% and a volume greater than 100,000.**
   - **Hint:** Apply conditions on 'Daily Change' and 'Volume' columns.

6. **Identify all stocks in the Technology sector with a daily percentage change higher than 7.5%.**
   - **Hint:** Merge the datasets on 'Ticker' and filter based on the sector and daily change.

7. **Write a function that can return the performance track record of two assets against each other over time.**
   - **Hint:** Create a function that merges the close prices of two tickers on the 'Date' column.

8. **Identify and remove duplicate rows from both datasets. How many duplicates were removed?**
   - **Hint:** Use the `duplicated()` method to find and remove duplicate rows.

9. **For the fundamental dataset, identify rows where the Market Cap is NaN, and impute these values using a sector-wise median Market Cap.**
   - **Hint:** Group by sector and fill NaN values with the sector median.

10. **Filter the combined dataset to find the top 5 most volatile stocks based on the standard deviation of daily percentage changes.**
    - **Hint:** Calculate the standard deviation of daily percentage changes for each stock and sort the results.

In [ ]:
import pandas as pd
import numpy as np

# Function to create a synthetic dataset for a given asset type
def create_asset_data(tickers, start_date, end_date):
    dates = pd.date_range(start=start_date, end=end_date, freq='B')
    data = []
    for ticker in tickers:
        np.random.seed(42)  # For reproducibility
        price = np.random.randn(len(dates)).cumsum() + 100
        for i in range(len(dates)):
            open_price = price[i] + np.random.uniform(-1, 1)
            high_price = max(open_price, price[i] + np.random.uniform(0, 2))
            low_price = min(open_price, price[i] - np.random.uniform(0, 2))
            close_price = price[i] + np.random.uniform(-1, 1)
            volume = np.random.randint(1000, 1000000)
            # Introduce NaN values randomly
            if np.random.rand() < 0.05:
                open_price = np.nan
            if np.random.rand() < 0.05:
                high_price = np.nan
            if np.random.rand() < 0.05:
                low_price = np.nan
            if np.random.rand() < 0.05:
                close_price = np.nan
            if np.random.rand() < 0.05:
                volume = np.nan
            data.append([dates[i], ticker, open_price, high_price, low_price, close_price, volume])
    return pd.DataFrame(data, columns=['Date', 'Ticker', 'Open', 'High', 'Low', 'Close', 'Volume'])

# Define tickers for each asset type
stock_tickers = ['AAPL', 'GOOG', 'MSFT', 'AMZN', 'TSLA']
forex_tickers = ['EUR/USD', 'GBP/USD', 'USD/JPY', 'AUD/USD', 'USD/CAD']
crypto_tickers = ['BTC/USD', 'ETH/USD', 'XRP/USD', 'LTC/USD', 'BCH/USD']

# Generate data for each asset type
stock_data = create_asset_data(stock_tickers, '2015-01-01', '2023-01-01')
forex_data = create_asset_data(forex_tickers, '2015-01-01', '2023-01-01')
crypto_data = create_asset_data(crypto_tickers, '2015-01-01', '2023-01-01')

# Combine all data into a single DataFrame
combined_data = pd.concat([stock_data, forex_data, crypto_data])

# Introduce duplicate rows
combined_data = pd.concat([combined_data, combined_data.sample(frac=0.05, random_state=42)])  # Add 5% duplicates

# Save to CSV
combined_data.to_csv('algotrading_combined_dataset.csv', index=False)

print("Dataset created and saved to 'algotrading_combined_dataset.csv'")

In [ ]:
import pandas as pd
import numpy as np

# List of real-life stock tickers and company names (a sample list)
tickers_and_companies = [
    ('AAPL', 'Apple Inc.'),
    ('GOOGL', 'Alphabet Inc.'),
    ('MSFT', 'Microsoft Corporation'),
    ('AMZN', 'Amazon.com, Inc.'),
    ('TSLA', 'Tesla, Inc.'),
    ('FB', 'Meta Platforms, Inc.'),
    ('BRK.B', 'Berkshire Hathaway Inc.'),
    ('JNJ', 'Johnson & Johnson'),
    ('JPM', 'JPMorgan Chase & Co.'),
    ('V', 'Visa Inc.'),
    # Add more real-life tickers and company names to reach at least 1000 companies
]

# Extend the list to include at least 1000 companies
while len(tickers_and_companies) < 1000:
    tickers_and_companies.extend(tickers_and_companies[:1000 - len(tickers_and_companies)])

# Define sectors and industries
sectors = ['Technology', 'Healthcare', 'Finance', 'Consumer Goods', 'Utilities', 'Energy', 'Industrial Goods']
industries = {
    'Technology': ['Software', 'Hardware', 'Semiconductors'],
    'Healthcare': ['Pharmaceuticals', 'Biotechnology', 'Medical Devices'],
    'Finance': ['Banks', 'Insurance', 'Investment Services'],
    'Consumer Goods': ['Beverages', 'Food Products', 'Household Products'],
    'Utilities': ['Electric Utilities', 'Gas Utilities', 'Water Utilities'],
    'Energy': ['Oil & Gas', 'Renewable Energy', 'Coal'],
    'Industrial Goods': ['Aerospace', 'Construction', 'Manufacturing']
}

# Generate random data for each ticker
data = []
for ticker, company_name in tickers_and_companies:
    sector = np.random.choice(sectors)
    industry = np.random.choice(industries[sector])
    market_cap = round(np.random.uniform(0.1, 500), 2)  # in billions
    eps = round(np.random.uniform(-10, 10), 2)
    pe_ratio = round(np.random.uniform(5, 50), 2)
    dividend_yield = round(np.random.uniform(0, 10), 2)
    pb_ratio = round(np.random.uniform(0.1, 20), 2)
    de_ratio = round(np.random.uniform(0, 3), 2)

    # Introduce NaN values randomly
    if np.random.rand() < 0.1: market_cap = np.nan
    if np.random.rand() < 0.1: eps = np.nan
    if np.random.rand() < 0.1: pe_ratio = np.nan
    if np.random.rand() < 0.1: dividend_yield = np.nan
    if np.random.rand() < 0.1: pb_ratio = np.nan
    if np.random.rand() < 0.1: de_ratio = np.nan

    data.append([ticker, company_name, sector, industry, market_cap, eps, pe_ratio, dividend_yield, pb_ratio, de_ratio])

# Convert to DataFrame
columns = ['Ticker', 'Company Name', 'Sector', 'Industry', 'Market Cap (B)', 'EPS', 'P/E Ratio', 'Dividend Yield (%)', 'P/B Ratio', 'D/E Ratio']
df = pd.DataFrame(data, columns=columns)

# Introduce duplicate rows
df = pd.concat([df, df.sample(frac=0.05, random_state=42)])  # Add 5% duplicates

# Save to CSV
df.to_csv('fundamental_research_dataset_large.csv', index=False)

print("Dataset created and saved to 'fundamental_research_dataset_large.csv'")



### Dataset 1: Fundamental Research Dataset

This dataset contains fundamental data for real-life companies, with some rows containing NaN values and duplicates.

```python
import pandas as pd
import numpy as np

# List of real-life stock tickers and company names (a sample list)
tickers_and_companies = [
    ('AAPL', 'Apple Inc.'),
    ('GOOGL', 'Alphabet Inc.'),
    ('MSFT', 'Microsoft Corporation'),
    ('AMZN', 'Amazon.com, Inc.'),
    ('TSLA', 'Tesla, Inc.'),
    ('FB', 'Meta Platforms, Inc.'),
    ('BRK.B', 'Berkshire Hathaway Inc.'),
    ('JNJ', 'Johnson & Johnson'),
    ('JPM', 'JPMorgan Chase & Co.'),
    ('V', 'Visa Inc.'),
    # Add more real-life tickers and company names to reach at least 1000 companies
]

# Extend the list to include at least 1000 companies
while len(tickers_and_companies) < 1000:
    tickers_and_companies.extend(tickers_and_companies[:1000 - len(tickers_and_companies)])

# Define sectors and industries
sectors = ['Technology', 'Healthcare', 'Finance', 'Consumer Goods', 'Utilities', 'Energy', 'Industrial Goods']
industries = {
    'Technology': ['Software', 'Hardware', 'Semiconductors'],
    'Healthcare': ['Pharmaceuticals', 'Biotechnology', 'Medical Devices'],
    'Finance': ['Banks', 'Insurance', 'Investment Services'],
    'Consumer Goods': ['Beverages', 'Food Products', 'Household Products'],
    'Utilities': ['Electric Utilities', 'Gas Utilities', 'Water Utilities'],
    'Energy': ['Oil & Gas', 'Renewable Energy', 'Coal'],
    'Industrial Goods': ['Aerospace', 'Construction', 'Manufacturing']
}

# Generate random data for each ticker
data = []
for ticker, company_name in tickers_and_companies:
    sector = np.random.choice(sectors)
    industry = np.random.choice(industries[sector])
    market_cap = round(np.random.uniform(0.1, 500), 2)  # in billions
    eps = round(np.random.uniform(-10, 10), 2)
    pe_ratio = round(np.random.uniform(5, 50), 2)
    dividend_yield = round(np.random.uniform(0, 10), 2)
    pb_ratio = round(np.random.uniform(0.1, 20), 2)
    de_ratio = round(np.random.uniform(0, 3), 2)

    # Introduce NaN values randomly
    if np.random.rand() < 0.1: market_cap = np.nan
    if np.random.rand() < 0.1: eps = np.nan
    if np.random.rand() < 0.1: pe_ratio = np.nan
    if np.random.rand() < 0.1: dividend_yield = np.nan
    if np.random.rand() < 0.1: pb_ratio = np.nan
    if np.random.rand() < 0.1: de_ratio = np.nan

    data.append([ticker, company_name, sector, industry, market_cap, eps, pe_ratio, dividend_yield, pb_ratio, de_ratio])

# Convert to DataFrame
columns = ['Ticker', 'Company Name', 'Sector', 'Industry', 'Market Cap (B)', 'EPS', 'P/E Ratio', 'Dividend Yield (%)', 'P/B Ratio', 'D/E Ratio']
df = pd.DataFrame(data, columns=columns)

# Introduce duplicate rows
df = pd.concat([df, df.sample(frac=0.05, random_state=42)])  # Add 5% duplicates

# Save to CSV
df.to_csv('fundamental_research_dataset_large.csv', index=False)

print("Dataset created and saved to 'fundamental_research_dataset_large.csv'")
```

### Dataset 2: Combined Asset Data

This dataset includes stock, Forex, and cryptocurrency data with NaN values and duplicates.

```python
import pandas as pd
import numpy as np

# Function to create a synthetic dataset for a given asset type
def create_asset_data(tickers, start_date, end_date):
    dates = pd.date_range(start=start_date, end=end_date, freq='B')
    data = []
    for ticker in tickers:
        np.random.seed(42)  # For reproducibility
        price = np.random.randn(len(dates)).cumsum() + 100
        for i in range(len(dates)):
            open_price = price[i] + np.random.uniform(-1, 1)
            high_price = max(open_price, price[i] + np.random.uniform(0, 2))
            low_price = min(open_price, price[i] - np.random.uniform(0, 2))
            close_price = price[i] + np.random.uniform(-1, 1)
            volume = np.random.randint(1000, 1000000)
            # Introduce NaN values randomly
            if np.random.rand() < 0.05:
                open_price = np.nan
            if np.random.rand() < 0.05:
                high_price = np.nan
            if np.random.rand() < 0.05:
                low_price = np.nan
            if np.random.rand() < 0.05:
                close_price = np.nan
            if np.random.rand() < 0.05:
                volume = np.nan
            data.append([dates[i], ticker, open_price, high_price, low_price, close_price, volume])
    return pd.DataFrame(data, columns=['Date', 'Ticker', 'Open', 'High', 'Low', 'Close', 'Volume'])

# Define tickers for each asset type
stock_tickers = ['AAPL', 'GOOG', 'MSFT', 'AMZN', 'TSLA']
forex_tickers = ['EUR/USD', 'GBP/USD', 'USD/JPY', 'AUD/USD', 'USD/CAD']
crypto_tickers = ['BTC/USD', 'ETH/USD', 'XRP/USD', 'LTC/USD', 'BCH/USD']

# Generate data for each asset type
stock_data = create_asset_data(stock_tickers, '2015-01-01', '2023-01-01')
forex_data = create_asset_data(forex_tickers, '2015-01-01', '2023-01-01')
crypto_data = create_asset_data(crypto_tickers, '2015-01-01', '2023-01-01')

# Combine all data into a single DataFrame
combined_data = pd.concat([stock_data, forex_data, crypto_data])

# Introduce duplicate rows
combined_data = pd.concat([combined_data, combined_data.sample(frac=0.05, random_state=42)])  # Add 5% duplicates

# Save to CSV
combined_data.to_csv('algotrading_combined_dataset.csv', index=False)

print("Dataset created and saved to 'algotrading_combined_dataset.csv'")
```

### Practice Questions

1. **Data Cleaning**:
   - Identify and remove duplicate rows from both datasets.
   - Handle NaN values appropriately (e.g., fill with mean/median, forward fill, backward fill, or remove).

2. **Data Analysis**:
   - Calculate the average Market Cap, P/E Ratio, and Dividend Yield for each sector in the fundamental research dataset.
   - Calculate the daily percentage change for each asset in the combined dataset.

3. **Data Visualization**:
   - Plot the distribution of Market Cap values for different sectors.
   - Visualize the price trends for a selected stock, Forex pair, and cryptocurrency over time.

4. **Advanced Analysis**:
   - Perform a sector-wise analysis to find which sectors have the highest and lowest average EPS in the fundamental research dataset.
   - Analyze the correlation between different Forex pairs in the combined dataset.

5. **Algorithmic Trading**:
   - Implement a simple moving average crossover strategy using the combined dataset.
   - Develop a fundamental analysis-based scoring system to rank stocks in the fundamental research dataset based on their financial metrics.

These questions and tasks should help you get hands-on experience with real-life algorithmic trading scenarios and data handling techniques.



#### 1. Identify all the top-performing stocks based on their overall return from the start to the end of the dataset.

```python
import pandas as pd

# Load the combined dataset
combined_df = pd.read_csv('algotrading_combined_dataset.csv')

# Calculate overall return for each asset
tickers = combined_df['Ticker'].unique()
returns = []

for ticker in tickers:
    stock_data = combined_df[combined_df['Ticker'] == ticker]
    overall_return = (stock_data['Close'].iloc[-1] - stock_data['Close'].iloc[0]) / stock_data['Close'].iloc[0]
    returns.append({'Ticker': ticker, 'Overall Return': overall_return})

returns_df = pd.DataFrame(returns).sort_values('Overall Return', ascending=False)

print(f"Top-performing stocks:\n{returns_df}")
```

#### 2. How many instances of daily price change greater than 5%  occurred for each stock?

```python
import pandas as pd

# Load the combined dataset
combined_df = pd.read_csv('algotrading_combined_dataset.csv')

# Calculate daily percentage change 
combined_df = combined_df.sort_values(['Ticker', 'Date'])
combined_df['Daily Change'] = combined_df['Close'].pct_change()

# Calculate instances with daily percentage change greater than 5%
combined_df['Super Over'] = combined_df['Daily Change'] > 0.05

# Create a dictionary to count occurrences for each ticker
occrence_4 = {}
tickers = combined_df['Ticker'].unique()

for ticker in tickers:
    occrence_4[ticker] = combined_df[(combined_df['Ticker'] == ticker) & (combined_df['Super Over'])].shape[0]

print(f"Number of super over finishes:\n{occrence_4}")

```

#### 3. Calculate the number of times each stock's price increased on a specific date range (e.g., within the first quarter of each year).

```python
# Filter for the first quarter
combined_df['Date'] = pd.to_datetime(combined_df['Date'])
first_quarter = combined_df[combined_df['Date'].dt.month.isin([1, 2, 3])]

# Count the number of times the stock's price increased
first_quarter['Price Increase'] = first_quarter['Close'] > first_quarter['Open']
price_increases = first_quarter[first_quarter['Price Increase']]['Ticker'].value_counts()

print(f"Number of price increases in the first quarter:\n{price_increases}")
```

#### 4. Calculate the percentage of times the opening price being higher than the previous day's closing price (toss winner) resulted in a higher closing price on that day (match winner).

```python
# Calculate if opening price is higher than the previous day's closing price 
combined_df = combined_df.sort_values(['Ticker', 'Date'])
combined_df['Previous Close'] = combined_df['Close'].shift(1)
combined_df['Toss Winner'] = combined_df['Open'] > combined_df['Previous Close']

# Calculate if the closing price is higher than the opening price
combined_df['Match Winner'] = combined_df['Close'] > combined_df['Open']

# Calculate percentage of toss winners being match winners
toss_match_winner = (combined_df['Toss Winner'] & combined_df['Match Winner']).sum()
total_toss_winners = combined_df['Toss Winner'].sum()
percentage_toss_match_winner = (toss_match_winner / total_toss_winners) * 100

print(f"Percentage of toss winners being match winners: {percentage_toss_match_winner:.2f}%")
```

#### 5. Identify all assets with a daily percentage change higher than 8% and a volume greater than 100,000.

```python
# Filter for daily percentage change > 8% and volume > 100,000 
high_change_high_volume = combined_df[(combined_df['Daily Change'] > 0.08) & (combined_df['Volume'] > 100000)]

print(f"Assets with daily percentage change > 8% and volume > 100,000:\n{high_change_high_volume}")
```

#### 6. Identify all stocks in the Technology sector with a daily percentage change higher than 7.5%.

```python
# Load the fundamental dataset
fundamental_df = pd.read_csv('fundamental_research_dataset_large.csv')

# Merge with combined dataset to get sector information
combined_with_sector = combined_df.merge(fundamental_df[['Ticker', 'Sector']], on='Ticker')

# Filter for Technology sector and daily percentage change > 7.5% 
tech_high_change = combined_with_sector[(combined_with_sector['Sector'] == 'Technology') & (combined_with_sector['Daily Change'] > 0.075)]

print(f"Technology stocks with daily percentage change > 7.5%:\n{tech_high_change}")
```

#### 7. Write a function that can return the performance track record of two assets against each other over time.

```python
def track_record(asset1, asset2, combined_df):
    asset1_data = combined_df[combined_df['Ticker'] == asset1][['Date', 'Close']].rename(columns={'Close': asset1})
    asset2_data = combined_df[combined_df['Ticker'] == asset2][['Date', 'Close']].rename(columns={'Close': asset2})

    merged_data = pd.merge(asset1_data, asset2_data, on='Date', how='inner')
    merged_data.set_index('Date', inplace=True)
    
    return merged_data

# Example usage
asset1 = 'AAPL'
asset2 = 'GOOG'
track_record_data = track_record(asset1, asset2, combined_df)

print(f"Track record of {asset1} against {asset2}:\n{track_record_data}")
```

#### 8. Identify and remove duplicate rows from both datasets. How many duplicates were removed?

```python
# Identify and remove duplicates
fundamental_duplicates = fundamental_df.duplicated().sum()
combined_duplicates = combined_df.duplicated().sum()

fundamental_df_clean = fundamental_df.drop_duplicates()
combined_df_clean = combined_df.drop_duplicates()

print(f"Removed {fundamental_duplicates} duplicate rows from the fundamental dataset.")
print(f"Removed {combined_duplicates} duplicate rows from the combined dataset.")
```

#### 9. For the fundamental dataset, identify rows where the Market Cap is NaN, and impute these values using a sector-wise median Market Cap.

```python
# Impute NaN Market Cap values using sector-wise median 
sectors = fundamental_df['Sector'].unique()

for sector in sectors:
    sector_median = fundamental_df[fundamental_df['Sector'] == sector]['Market Cap (B)'].median()
    fundamental_df.loc[(fundamental_df['Sector'] == sector) & (fundamental_df['Market Cap (B)'].isna()), 'Market Cap (B)'] = sector_median

print(f"Fundamental dataset after imputing NaN Market Cap values:\n{fundamental_df}")
```

#### 10. Filter the combined dataset to find the top 5 most volatile stocks based on the standard deviation of daily percentage changes.

```python
# Calculate daily percentage change 
combined_df['Daily Change'] = combined_df.sort_values(['Ticker', 'Date']).groupby('Ticker')['Close'].pct_change()

# Calculate standard deviation of daily percentage changes for each stock
tickers = combined_df['Ticker'].unique()
volatilities = []

for ticker in tickers:
    stock_data = combined_df[combined_df['Ticker'] == ticker]
    volatility = stock_data['Daily Change'].std()
    volatilities.append({'Ticker': ticker, 'Volatility': volatility})

volatility_df = pd.DataFrame(volatilities).sort_values('Volatility', ascending=False).head(5)

print(f"Top 5 most volatile stocks:\n{volatility_df}")
```